<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
    </div>
    <p>
        <div class="text-center">Hoşgeldiniz Sayın</div>
    </p>
    <ul class="list-unstyled components">
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Anasayfa</a>
        </li>
        <li class="dropdown">
            <a href="" aria-expanded="false" class="dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fas fa-box-open"></i> Ürünler
            </a>
            <ul class="dropdown-menu list-unstyled" id="pageSubmenu2">
                <li>
                    <a asp-area="Admin" asp-controller="Category" asp-action="AddCategory">Kategori Ekle</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index">Kategori Listesi</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Product" asp-action="AddProduct">Ürün Ekle</a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Product" asp-action="Index">Ürün Listesi</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="" aria-expanded="false" class="dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fas fa-box-open"></i> Sayfa İşlemleri
            </a>
            <ul class="dropdown-menu list-unstyled" id="pageSubmenu2">
                <li>
                    <a asp-area="Admin" asp-controller="Page" asp-action="PageList">Sayfa İşlemleri</a>
                </li>
               
            </ul>
        </li>
        <li class="dropdown">
            <a href="" aria-expanded="false" class="dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fas fa-box-open"></i> Galeri İşlemleri
            </a>
            <ul class="dropdown-menu list-unstyled" id="pageSubmenu2">
                <li>
                    <a asp-area="Admin" asp-controller="ImageGallery" asp-action="GetImageGalleryList">Resim Galeri Listesi</a>
                </li>

            </ul>
        </li>
    </ul>
</nav>

