@model ProductModel

<section class="content">
    <form id="form" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Ürün Bilgileri</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">Ürün Adı</label>
                            <input type="text" asp-for="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Ürün Link</label>
                            <input type="text" asp-for="Link" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Ürün Kategori</label>

                            @foreach (var category in Model.Categories)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="@category.Id" name="CategoryIds"
                                           value="@category.Id">
                                    <label class="form-check-label" for="@category.Id">@category.Name</label>
                                </div>
                            }
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" asp-for="IsActive">
                            <label class="form-check-label" for="IsActive">Aktif mi?</label>
                        </div>
                        <div class="form-group">
                            <label for="Image">Ürün Resim</label>
                            <input type="file" class="form-control-file" name="image" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <a onclick="add()" class="btn btn-success float-right">Ekle</a>
            </div>
        </div>
    </form>
</section>


@section Scripts {
    @* Ekleme *@
    <script>
        function add() {
            var form = document.getElementById("form");
            var formData = new FormData(form);

            $.ajax({
                type: 'POST',
                url: '/Admin/Product/AddProduct',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.status == 200) {
                        Swal.fire(
                            'Bilgilendirme',
                            'Ürün Eklendi',
                            'success'
                        );
                    } else if (result.status == 400) {
                        Swal.fire(
                            'Hata',
                            'Ürün Eklenmedi',
                            'error'
                        );
                    } else if (result.status == 300) {
                        Swal.fire(
                            'Uyarı',
                            'Aynı isimde Ürün var!',
                            'warning'
                        );
                    }
                }
            });
        }
    </script>
}