@model ProductModel

<form id="form" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Ürün Bilgileri</h3>
                </div>
                <div class="card-body">
                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Ürün Adı :</label>
                        <div class="col-lg-8">
                            <input type="text" asp-for="Name" class="form-control" onkeyup="urlName()" />
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Url :</label>
                        <div class="col-lg-8">
                            <input type="text" asp-for="Url" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Ürün Başlık :</label>
                        <div class="col-lg-8">
                            <input type="text" asp-for="Title" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Ürün Link :</label>
                        <div class="col-lg-8">
                            <input type="text" asp-for="Link" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Trendyol Link :</label>
                        <div class="col-lg-8">
                            <input type="text" asp-for="TrendyolLink" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Hepsiburada Link :</label>
                        <div class="col-lg-8">
                            <input type="text" asp-for="HepsiBuradaLink" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">ÇiçekSepeti Link :</label>
                        <div class="col-lg-8">
                            <input type="text" asp-for="CicekSepetiLink" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">İçerik :</label>
                        <div class="col-lg-8">
                            <textarea class="form-control" asp-for="Contents"></textarea>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Kısa İçerik :</label>
                        <div class="col-lg-8">
                            <textarea class="form-control" asp-for="ShortContent"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Ürün Kategori</label>
                        <select class="selectpicker" multiple aria-label="size 3 select example" asp-for="CategoryIds">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Ürün Resim Galeri</label>
                        <select class="selectpicker" multiple aria-label="size 3 select example" asp-for="ImageGalleryIds">
                            @foreach (var imageGallery in Model.ImageGalleries.Where(ig => ig.ProductId == null && ig.InnerPageId == null))
                            {
                                <option value="@imageGallery.Id">@imageGallery.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Resim :</label>
                        <div class="col-lg-8">
                            <input type="file" asp-for="Image" class="form-control" onchange="showImage(event)" />
                        </div>
                    </div>

                    <div id="resimGoster" style="display: none; margin-top: 10px;">
                        <div class="row">
                            <div class="col-lg-6">
                                <img id="gosterilenResim" alt="Seçilen Resim" style="max-width: 100%; max-height: 200px;" src="">
                            </div>
                        </div>
                        <a class="btn btn-danger mt-2" onclick="removeImage()">Sil</a>
                    </div>

                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Küçük Resim :</label>
                        <div class="col-lg-8">
                            <input type="file" asp-for="SmallImage" class="form-control" onchange="showSmallImage(event)" />
                        </div>
                    </div>

                    <div id="kucukResimGoster" style="display: none; margin-top: 10px;">
                        <div class="row">
                            <div class="col-lg-6">
                                <img id="gosterilenKucukResim" alt="Seçilen Küçük Resim" style="max-width: 100%; max-height: 200px;" src="">
                            </div>
                        </div>
                        <a class="btn btn-danger mt-2" onclick="removeSmallImage()">Sil</a>
                    </div>

                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Banner :</label>
                        <div class="col-lg-8">
                            <input type="file" asp-for="Banner" class="form-control" onchange="showBanner(event)" />
                        </div>
                    </div>

                    <div id="bannerGoster" style="display: none; margin-top: 10px;">
                        <div class="row">
                            <div class="col-lg-6">
                                <img id="gosterilenBanner" alt="Seçilen Banner" style="max-width: 100%; max-height: 200px;" src="">
                            </div>
                        </div>
                        <a class="btn btn-danger mt-2" onclick="removeBanner()">Sil</a>
                    </div>

                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Anasayfa da gösterilsin mi? </label>
                        <div class="col-lg-8 form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" asp-for="IsHome">
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center mb-2">
                        <label class="control-label col-lg-3">Aktif mi? </label>
                        <div class="col-lg-8 form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" asp-for="IsActive">
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <a onclick="add()" class="btn btn-success float-right">Ekle</a>
        </div>
    </div>
</form>


@section Scripts {
    @* Resim *@
    <script>
        function showImage(event) {
            var input = event.target;
            var resimGoster = document.getElementById('resimGoster');
            var gosterilenResim = document.getElementById('gosterilenResim');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    gosterilenResim.setAttribute('src', e.target.result);
                    resimGoster.style.display = 'block';
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function removeImage() {
            var resimGoster = document.getElementById('resimGoster');
            var image = document.getElementById('Image');

            resimGoster.style.display = "none";
            image.value = "";

        }

    </script>

    @*Küçük Resim *@
    <script>
        function showSmallImage(event) {
            var input = event.target;
            var kucukResimGoster = document.getElementById('kucukResimGoster');
            var gosterilenKucukResim = document.getElementById('gosterilenKucukResim');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    gosterilenKucukResim.setAttribute('src', e.target.result);
                    kucukResimGoster.style.display = 'block';
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function removeSmallImage() {
            var kucukResimGoster = document.getElementById('kucukResimGoster');
            var smallImage = document.getElementById('SmallImage');

            kucukResimGoster.style.display = "none";
            smallImage.value = "";

        }

    </script>

    @* Banner *@
    <script>
        function showBanner(event) {
            var input = event.target;
            var bannerGoster = document.getElementById('bannerGoster');
            var gosterilenBanner = document.getElementById('gosterilenBanner');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    gosterilenBanner.setAttribute('src', e.target.result);
                    bannerGoster.style.display = 'block';
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function removeBanner() {
            var bannerGoster = document.getElementById('bannerGoster');
            var banner = document.getElementById('Banner');

            bannerGoster.style.display = "none";
            banner.value = "";

        }

    </script>

    @* Ekleme *@
    <script>
        function add() {
            var form = document.getElementById("form");
            var formData = new FormData(form);
            var selectedCategories = document.querySelectorAll('select[name="CategoryIds"] option:checked');
            if (selectedCategories.length === 0) {
                alert("En az bir kategori seçmelisiniz.");
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Product/AddProduct',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.status == 200) {
                            Swal.fire(
                                'Bilgilendirme',
                                'Ürün Eklendi',
                                'success'
                            ).then((res) => {
                                if (res.isConfirmed) {
                                    window.location.href = '/Admin/Product/Index';
                                }
                            });
                        } else if (result.status == 400) {
                            Swal.fire(
                                'Hata',
                                'Ürün Eklenmedi',
                                'error'
                            );
                        } else if (result.status == 300) {
                            Swal.fire(
                                'Uyarı',
                                'Aynı isimde Ürün var!',
                                'warning'
                            );
                        }
                    }
                });

            }
        }
    </script>

    @* Url *@
    <script>
        function urlName() {
            var name = document.getElementById("Name").value;
            var splitName = name.split(" ");
            var joinName = splitName.join("-");
            var shortName = joinName.toLocaleLowerCase("tr-TR");

            var donusumTablosu = {
                "ç": "c",
                "ğ": "g",
                "ı": "i",
                "ö": "o",
                "ş": "s",
                "ü": "u",
                " ": "",// Boşlukları kaldır
                ",": "",
                "?": "",
                ";": "",
                ":": "",
                "/": "",
                "=": "",
                ".": "",
                "*": "",

            };

            shortName = shortName.replace(/[çğıöşü.,/?;:=* ]/g, function (harf) {
                return donusumTablosu[harf];
            });
            document.getElementById("Url").value = shortName;
        }
    </script>
}