@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("_ModalSearch")
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5">
                @await Component.InvokeAsync("Slider")
        </div>
    </div>
</div>
@* @await Html.PartialAsync("_Card") *@
@await Component.InvokeAsync("HomeCategory")
@await Component.InvokeAsync("HomeProduct")

