@model ImageGalleryModel

<section class="content">
    <form id="form" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id"/>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Resim Galerisi Bilgileri</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">Resim Galerisi Adı</label>
                            <input type="text" asp-for="Name" class="form-control">
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" asp-for="IsActive">
                            <label class="form-check-label" for="IsActive">Aktif mi?</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <input onclick="update()" value="Kaydet" class="btn btn-success float-right">
            </div>
        </div>
    </form>
</section>


@section Scripts {
    @* Güncelle *@
    <script>
        function update() {
            var form = document.getElementById("form");
            var formData = new FormData(form);

            $.ajax({
                type: 'POST',
                url: '/Admin/ImageGallery/Update',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.status == 200) {
                        Swal.fire(
                            'Bilgilendirme',
                            'Resim Galerisi Eklendi',
                            'success'
                        );
                    } else if (result.status == 400) {
                        Swal.fire(
                            'Hata',
                            'Resim Galerisi Eklenmedi',
                            'error'
                        );
                    } else if (result.status == 300) {
                        Swal.fire(
                            'Uyarı',
                            'Aynı isimde Resim Galerisi var!',
                            'warning'
                        );
                    }
                }
            });
        }
    </script>
}